<%- include('./partials/header.ejs') %> 
    <div class="manageUser-container">
        <div id="title">
            <h2>Manage Category</h2>
            <% if(category) {%>
                <form class="edit-form js-action" action="/categories/edit/<%=category.id%>" method="PUT" id="add-category-form" enctype="multipart/form-data">
                    <input type="text" placeholder="enter category name" name="name" value="<%=category.name%>" />
                    <p class="error name-error">This is error</p>
                    <img style="width: 200px; height: auto;" src="<%=category.image%>" alt="">
                    <input type="file" name="image" />
                    <p class="error image-error">This is error</p>
                    <p class="error common-error">This is error</p>
                    <input class="submit-button" type="submit" value="Submit" />
                    <div class="loader hide">Loading...</div>
                </form>
            <%} %> 
        </div>
    </div>
<%- include('./partials/footer.ejs') %> 
